<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.db.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.store.db.entity.Goods">
        <id column="id" property="id" />
        <result column="cid" property="cid" />
        <result column="title" property="title" />
        <result column="pro_no" property="proNo" />
        <result column="keywords" property="keywords" />
        <result column="img" property="img" />
        <result column="price" property="price" />
        <result column="desc" property="desc" />
        <result column="pv" property="pv" />
        <result column="status" property="status" />
        <result column="add_time" property="addTime" />
        <result column="property" property="property" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cid, title, pro_no, keywords, img, price, desc, pv, status, add_time, property
    </sql>

</mapper>
