<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.db.mapper.GoodsImgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.store.db.entity.GoodsImg">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="property_value_id" property="propertyValueId" />
        <result column="img" property="img" />
        <result column="add_time" property="addTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_id, property_value_id, img, add_time
    </sql>

</mapper>
