<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.db.mapper.GoodsPropertyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.store.db.entity.GoodsProperty">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="name_id" property="nameId" />
        <result column="value_id" property="valueId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_id, name_id, value_id
    </sql>

</mapper>
