<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjw.provide.mapper.GoodsPropertyValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fjw.provide.model.GoodsPropertyValue">
        <id column="id" property="id" />
        <result column="property_name_id" property="propertyNameId" />
        <result column="property_value" property="propertyValue" />
        <result column="create_time" property="createTime" />
        <result column="creator_by" property="creatorBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="enabled_flag" property="enabledFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, property_name_id, property_value, create_time, creator_by, update_time, update_by, enabled_flag
    </sql>

</mapper>
