<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjw.provide.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fjw.provide.model.Order">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="delivery_address" property="deliveryAddress" />
        <result column="payment_time" property="paymentTime" />
        <result column="status" property="status" />
        <result column="user_id" property="userId" />
        <result column="goods_count" property="goodsCount" />
        <result column="amount" property="amount" />
        <result column="real_amount" property="realAmount" />
        <result column="order_logistics_id" property="orderLogisticsId" />
        <result column="logistics_fee" property="logisticsFee" />
        <result column="pay_channel" property="payChannel" />
        <result column="escrow_trade_no" property="escrowTradeNo" />
        <result column="invoice_id" property="invoiceId" />
        <result column="need_invoice" property="needInvoice" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="creator_by" property="creatorBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="enabled_flag" property="enabledFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, delivery_address, payment_time, status, user_id, goods_count, amount, real_amount, order_logistics_id, logistics_fee, pay_channel, escrow_trade_no, invoice_id, need_invoice, remark, create_time, creator_by, update_time, update_by, enabled_flag
    </sql>

</mapper>
